.header
  padding-top: 25px
  padding-bottom: 25px
  position: fixed
  left: 0
  right: 0
  background-color: $genoa
  opacity: 0.8
  z-index: 1

  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
