.merit
  padding: 50px 0
  @media screen and ( max-width: 425px )
    padding: 25px 0

  &__wrap
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    margin-bottom: 20px
    @media screen and ( max-width: 765px )
      margin-bottom: 10px

  &__list
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-left: 40px
    @media screen and ( max-width: 765px )
      padding-left: 35px

  &__item
    margin-bottom: 10px
    position: relative
    &::after
      position: absolute
      content: ""
      width: 30px
      height: 30px
      border: 2px dashed $skeptic
      border-radius: 50%
      top: 7px
      left: -38px
    @media screen and ( max-width: 765px )
      &::after
        width: 20px
        height: 20px
        top: 12px
        left: -30px

  &__heading
    margin-bottom: 5px
    font-family: "OpenSans-SemiBold", sans-serif
    font-weight: 600
    font-size: 25px
    position: relative
    &::after, &::before
      position: absolute
      content: ""
      width: 15px
      border-top: 2px solid $skeptic
      top: 50%
      left: -30px
    &::after
      transform: rotate(90deg)
    @media screen and ( max-width: 765px )
      font-size: 23px
      &::after, &::before
        width: 10px
        left: -25px
    @media screen and ( max-width: 425px )
      font-size: 21px
