.skills
  padding: 50px 0
  @media screen and ( max-width: 425px )
    padding: 25px 0

  &__wrap
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    margin-bottom: 15px

  &__cards
    display: flex
    flex-wrap: wrap
    gap: 20px 80px

  &__card
    display: flex
    flex-direction: column
    align-items: center
    max-width: 200px

  &__icon
    margin-bottom: 10px
    width: 100%
    height: auto

  &__heading
    margin-bottom: 10px
    font-family: "OpenSans-SemiBold", sans-serif
    font-weight: 600
    font-size: 20px
    line-height: 27px

  &__text
    text-align: center
