<div class="spollers" data-spollers="" data-one-spoller="">
	<div class="spollers__item">
		<button
			class="spollers__title btn-reset"
			type="button"
			tabindex="-1"
			data-spoller=""
		>
			<span class="spollers__title-text">Стремление к&nbsp;знаниям</span>
		</button>
		<div class="spollers__text text">
			Я&nbsp;постоянно совершенствуюсь, имея уже неплохой багаж знаний стремлюсь
			получить ещё больше посредством большого количества практик и&nbsp;курсов
		</div>
	</div>
	<div class="spollers__item">
		<button
			class="spollers__title btn-reset"
			type="button"
			tabindex="-1"
			data-spoller=""
		>
			<span class="spollers__title-text">Коммуникабельность</span>
		</button>
		<div class="spollers__text text">
			Я&nbsp;стараюсь найти общий язык с&nbsp;заказчиком или с&nbsp;коллегами,
			чтобы выполнение поставленной задачи было максимально быстрым
			и&nbsp;приятным моментом для всех
		</div>
	</div>
	<div class="spollers__item">
		<button
			class="spollers__title btn-reset"
			type="button"
			tabindex="-1"
			data-spoller=""
		>
			<span class="spollers__title-text"
				>Скорость выполнения поставленных задач</span
			>
		</button>
		<div class="spollers__text text">
			Я&nbsp;ценю как своё так и&nbsp;ваше время, тем самым стараюсь выполнять
			поставленные задачи в&nbsp;срок
		</div>
	</div>
	<div class="spollers__item">
		<button
			class="spollers__title btn-reset"
			type="button"
			tabindex="-1"
			data-spoller=""
		>
			<span class="spollers__title-text">Целеустремлённость</span>
		</button>
		<div class="spollers__text text">
			Если я&nbsp;поставил перед собой цель, то&nbsp;я&nbsp;добьюсь
			её&nbsp;любыми способами
		</div>
	</div>
</div>
